.ds-social {
  display: flex;
  justify-content: space-between;
  width: 50%;

  &__icon {
    height: $icon-size--sm;
    width: $icon-size--sm;
    color: var(--text-color);

    &:hover,
    &:focus {
      color: var(--primary);
    }
  }
}
