<h1>Show Post</h1>

<strong>Title:</strong>
<%= @post.title %>

<strong>Content:</strong>
<%= @post.content %>

<strong>Slug:</strong>
<%= @post.slug %>

<strong>Excerpt:</strong>
<%= @post.excerpt %>

<span><%= link "Edit", to: Routes.admin_post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.admin_post_path(@conn, :index) %></span>
