.ds-theme--dark {
  --bg: #212127;
  --bg2: #2c2c31;
  --text-color: #d2d2d2;
  --link-color: #000;
  --link-hover: #000;
  --primary: hsl(203, 100%, 77%);
  --secondary: hsl(176, 54%, 54%);
  --tertiary: hsl(267, 53%, 61%);
}
