.ds-theme--light {
  --bg: #ffffff;
  --bg2: #fafafa;
  --text-color: #555555;
  --link-color: #b58900;
  --link-hover-color: #dbab15;
  --primary: hsl(203, 100%, 77%);
  --secondary: hsl(176, 54%, 54%);
  --tertiary: hsl(267, 53%, 61%);
}
