.ds-theme--solarized-dark {
  --bg: #002b36;
  --bg2: #073642;
  --text-color: #93a1a1;
  --link-color: #2aa198;
  --link-decoration-color: #005368;
  --link-hover-color: #b58900;
  --primary: hsl(203, 100%, 77%);
  --secondary: hsl(176, 54%, 54%);
  --tertiary: hsl(267, 53%, 61%);
}
