<%= if @current_user do %>
  <%= link "New Post", to: Routes.admin_post_path(@conn, :new) %>
<% end %>

<section>
  <h1>Blog posts</h1>
<%= for post <- @posts do %>
  <article>
    <%= link post.title, to: Routes.post_path(@conn, :show, post) %>
    <p><%= post.excerpt %></p>
  <%= for tag <- post.tags do %>
    <%= link "##{tag.title}", to: Routes.tag_path(@conn, :index, tag) %>
  <% end %>
  </article>
<% end %>
</section>
