<section class="ds-markdown">
  <h1 class="ds-heading-2"><%= @post.title %></h1>
  <p class="ds-caption"><%= format_date(@post.updated_at) %> &middot; <%= read_time(@post.content) %></p>

  <p class="ds-body-1"><%= as_html(@post.content) %></p>

  <%= render "_tags.html", conn: @conn, tags: @post.tags %>

  <hr />

<%= if @current_user do %>
  <%= link "Edit", to: Routes.admin_post_path(@conn, :edit, @post)%>
<% end %>
</section>
