$breakpoints: (
  "sm": (
    min-width: 576px,
  ),
  "md": (
    min-width: 768px,
  ),
  "lg": (
    min-width: 1024px,
  ),
  "xl": (
    min-width: 1400px,
  ),
);

$border-radius: 2px;

$icon-size--sm: 24px;
$icon-size--md: 32px;
$icon-size--lg: 48px;
$icon-size--xl: 64px;
$icon-size--xxl: 96px;
