<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#502e71" />
    <meta property="og:url" content="https://www.hansjhoffman.dev" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/logo.png") %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="640" />
    <meta name="twitter:site" content="https://www.hansjhoffman.dev" />
    <meta name="twitter:card" content="" />
    <meta name="twitter:image" content="<%= Routes.static_path(@conn, "/images/logo.png") %>" />

    <title>Blog · Hans Hoffman</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i&display=swap">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
    <link rel="alternate" href="/rss.xml" type="application/rss+xml" />
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/manifest.json") %>" />
  </head>
  
  <body>
    <header class="ds-header">
      
      <nav class="ds-nav" role="navigation">
      <img src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" class="ds-header__brand" />
        <ul class="ds-nav__links">
          <%= if @current_user do %>
            <li>
              <%= link "Admin", to: Routes.admin_dashboard_path(@conn, :index), class: "ds-heading-5 ds-nav__link" %>
            </li>
          <% end %>
          <li>
            <%= link "About", to: Routes.about_path(@conn, :index), class: "ds-heading-5 ds-nav__link #{active_class(@conn, "about", "ds-nav__link--active")}" %>
          </li>
          <li>
            <%= link "Portfolio", to: Routes.portfolio_path(@conn, :index), class: "ds-heading-5 ds-nav__link #{active_class(@conn, "portfolio", "ds-nav__link--active")}" %>
          </li>
          <li>
            <%= link "Blog", to: Routes.blog_path(@conn, :index), class: "ds-heading-5 ds-nav__link #{active_class(@conn, "blog", "ds-nav__link--active")}" %>
          </li>
          <li>
            <%= link "Courses", to: Routes.course_path(@conn, :index), class: "ds-heading-5 ds-nav__link #{active_class(@conn, "course", "ds-nav__link--active")}" %>
          </li>
        </ul>
        <div class="ds-mobile-nav">
          <span />
          <span />
          <span />
          <span />
        </div>
      </nav>
      <div class="ds-theme-dropdown">
        <button class="ds-btn__dropdown" aria-label="theme switcher"></button>
        <div class="ds-theme-dropdown__content">
          <span onclick="alert('light')">Light</span>
          <span onclick="setTheme('dark')">Dark</span>
          <span onclick="setTheme('solarized-light')">Solarized Light</span>
          <span onclick="setTheme('solarized-dark')">Solarized Dark</span>
        </div>
      </div>
    </header>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="ds-footer">
      <div class="ds-caption">Made with <a href="https://phoenixframework.org/" class="ds-pretty-link">Elixir + Phoenix</a> & <a href="https://elm-lang.org/" class="ds-pretty-link">Elm</a></div>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
