<h1>Users > Detail</h1>

<strong>Handle:</strong>
<%= @user.handle %>

<strong>Created:</strong>
<%= @user.inserted_at %>

<span><%= link "Edit", to: Routes.admin_user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.admin_user_path(@conn, :index) %></span>
