<h1>Show User</h1>

<ul>

  <li>
    <strong>Handle:</strong>
    <%= @user.handle %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.admin_user_path(@conn, :index) %></span>
