@import "./normalize.css";

:root {
  --primary: #5867dd;
  --secondary: #1e1e2c;
  --tertiary: #4c4e6f;
  --bg: #f7f8fa;
  --dark: #343a40;
  --light: #a2a3b7;
  --white: #ffffff;
  --blue: #007bff;
  --info: #5578eb;
  --success: #0abb87;
  --warning: #ffb822;
  --danger: #fd397a;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1400px;
  --border-radius: 3px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", "Roboto", "Helvetica", "sans-seriff";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: var(--dark);
}

body {
  box-sizing: border-box;
  background-color: var(--bg);
  display: grid;
  grid-template-columns: 200px 1fr;
}

body section {
  padding: 2em;
}

/***********************
 *     Side navbar
 ***********************/
.ds-primary-nav {
  height: 100vh;
  background-color: var(--secondary);
  overflow-y: scroll;
}

.ds-primary-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ds-primary-nav ul li {
  padding-left: 2em;
}

.ds-primary-nav ul li:hover {
  background-color: #1b1b27;
}

.ds-primary-nav__link {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1em 0;
  color: var(--light);
  display: block;
  width: 100%;
}

.ds-primary-nav__link:hover {
  color: var(--white);
}

.ds-primary-nav__link:hover svg {
  color: var(--blue);
}

.ds-primary-nav__icon {
  color: var(--tertiary);
  vertical-align: middle;
  padding-right: 0.5em;
  height: 24px;
  width: 24px;
}

.ds-primary-nav__label {
  color: var(--tertiary);
  padding-left: 2em;
}

/**********************
 *       Header
 **********************/
.ds-topbar {
  background-color: var(--white);
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 65px;
  border-bottom: 1px solid #eff0f6;
}

/**********************
 *      Tables
 **********************/
table {
  border-collapse: collapse;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--white);
  padding: 2em;
  width: 100%;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
  margin-bottom: 2rem;
}

thead,
tr {
  border-bottom: 1px solid #eff0f6;
}

th,
td {
  padding: 1.5em;
}

th {
  text-align: left;
  min-width: 120px;
}

/**********************
 *       Forms
 **********************/
.ds-form-group {
  margin-bottom: 2rem;
}

.ds-form-group label {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.ds-form-control {
  display: block;
  width: 100%;
  color: #495057;
  border: 1px solid #e2e5ec;
  border-radius: var(--border-radius);
  padding: 0.65rem 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.ds-form-control:focus {
  outline: 0;
  border-color: #9aabff;
}

.ds-form-actions {
  display: flex;
}

.ds-form-actions > button:not(:last-child) {
  margin-right: 1rem;
}

/**********************
 *      Buttons
 **********************/
.ds-btn {
  font-weight: 400;
  color: #212529;
  padding: 1em;
  border-radius: var(--border-radius);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.ds-btn--primary {
  background-color: #5867dd;
  border-color: #5867dd;
  color: var(--white);
}

.ds-btn--primary:hover {
  background-color: #384ad7;
  border-color: #2e40d4;
}

.ds-btn--secondary {
  background-color: var(--white);
  border: 1px solid #e2e5ec;
  color: #595d6e;
}

.ds-btn--secondary:hover {
  border-color: #e2e5ec;
  background-color: #f4f5f8;
}

.ds-btn__label {
  cursor: text !important;
  font-weight: 600;
}

.ds-btn__label--danger {
  background-color: rgba(253, 57, 122, 0.1);
  color: #fd397a;
}

.ds-btn__label--info {
  background-color: rgba(44, 119, 244, 0.1);
  color: #2c77f4;
}

.ds-btn__label--success {
  background-color: rgba(29, 201, 183, 0.1);
  color: #1dc9b7;
}

.ds-btn__label--warning {
  background-color: rgba(255, 184, 34, 0.1);
  color: #ffb822;
}

/**********************
 *       Alerts
 **********************/
.ds-alert {
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  border: 1px solid transparent;
  padding: 1.2rem 2rem;
  color: var(--white);
}

.ds-alert--info {
  background-color: var(--info);
}

.ds-alert--danger {
  background-color: var(--danger);
}

.ds-alert--warning {
  background-color: var(--warning);
  color: var(--dark);
}

.ds-alert--success {
  background-color: var(--success);
}

/*
 * Logo
 */
.ds-logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.ds-logo {
  width: 50px;
  height: 50px;
}
