@import "app/abstracts/variables";
@import "app/abstracts/mixins";

@import "app/vendors/normalize/normalize";

@import "app/themes/dark";
@import "app/themes/light";
@import "app/themes/solarized-dark";
@import "app/themes/solarized-light";

@import "app/base/reset";
@import "app/base/typography";

@import "app/layout/navigation";
@import "app/layout/grid";
@import "app/layout/footer";
@import "app/layout/header";
@import "app/layout/forms";

@import "app/components/buttons";
@import "app/components/links";
@import "app/components/social";
@import "app/components/tags";
@import "app/components/timeline";

@import "app/pages/about";
@import "app/pages/blog";
@import "app/pages/courses";
@import "app/pages/login";
@import "app/pages/portfolio";
@import "app/pages/post";

/**********************
 *       Layout
 **********************/
.ds-space {
  &--sm {
    margin-bottom: 0.5rem;
  }

  &--md {
    margin-bottom: 1rem;
  }

  &--lg {
    margin-bottom: 2rem;
  }
}

/**********************
 *      Markdown
 **********************/
.ds-markdown {
  blockquote {
    margin: 0;
    border-left: 4px solid var(--tertiary);
    font-style: italic;
    padding: 1.33em;
    text-align: left;
  }

  pre {
    background-color: var(--bg2);
    border-color: #44444c;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    text-align: left;
  }

  code {
    font-weight: 400;
    font-style: normal;
    margin: 2em 0;
    // border: 1px solid #d2ddee;
    // border-radius: 2px;
    line-height: 2.4rem;
    text-transform: none;
    vertical-align: baseline;
  }

  p {
    margin-bottom: 2rem;
  }

  a {
    color: var(--primary);
    border-bottom: 2px dotted var(--primary);
    transition: border-bottom 0.2s ease-in-out;

    &:hover {
      border-bottom: 2px solid var(--primary);
    }
  }

  ul,
  ol {
    margin: 1.6rem;
    padding-left: 2rem;
  }

  em {
    font-style: italic;
  }

  img {
    width: 100%;
  }
}

.ds-theme-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 2rem;

  &__content {
    display: none;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    justify-content: space-evenly;
    background-color: var(--bg2);
    border-top: 2px solid var(--link-hover-color);
    padding: .5rem 0;
    width: 300px;
    z-index: 1;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    span:hover {
      cursor: pointer;
    }
  }

  &:hover > &__content {
    display: flex;
  }
}

.ds-btn__dropdown {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--bg2);
  border: 2px solid var(--link-hover-color);
  cursor: pointer;
}
