@import "./normalize.css";

:root {
  --primary: #8bd2ff;
  --secondary: #48c9c0;
  --tertiary: #9768d1;
  --bg-light: #f2f3f8;
  --bg-dark: #212127;
  --white: #ffffff;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1400px;
  --border-radius: 2px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", "Roboto", "Helvetica", "sans-seriff";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: var(--dark);
}

body {
  box-sizing: border-box;
  background-color: var(--bg-light);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1.6rem;
  margin: 0 9.6rem;
}

header {
  grid-column: 1 / 4;
}

main {
  grid-column: 4 / -1;
}

hr {
  border: 1px solid #000;
  margin: 2rem 0;
}

/***********************
 *     Typography
 ***********************/
h1,
.ds-heading-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.167;
  letter-spacing: -0.01562em;
  /* margin-bottom: 0.35em; */
}

h2,
.ds-heading-2 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

h3,
.ds-heading-3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
}

h4,
.ds-heading-4 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}

h5,
.ds-heading-5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}

h6,
.ds-heading-6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.ds-subtitle-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}

.ds-subtitle-2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}

.ds-body-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.ds-body-2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.ds-caption {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  color: #808080;
}

/***********************
 *     Side navbar
 ***********************/
.ds-primary-nav {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ds-primary-nav__background {
  background-image: url("/images/geometric.svg");
  background-repeat: no-repeat;
  height: 756px;
  width: 100%;
}

.ds-primary-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ds-primary-nav__link {
  text-decoration: none;
  color: var(--light);
  display: block;
}

/* .ds-primary-nav__link:hover {
  color: var(--white);
} */

/**********************
 *       Forms
 **********************/
.ds-form-group {
  margin-bottom: 2rem;
}

.ds-form-group label {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.ds-form-control {
  display: block;
  width: 100%;
  color: #495057;
  border: 1px solid #e2e5ec;
  border-radius: var(--border-radius);
  padding: 0.65rem 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.ds-form-control:focus {
  outline: 0;
  border-color: var(--primary);
}

.ds-form-actions {
  display: flex;
}

/**********************
 *      Buttons
 **********************/
.ds-btn {
  font-weight: 400;
  color: #212529;
  padding: 1em;
  border-radius: var(--border-radius);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.ds-btn--primary {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  color: var(--white);
}

/**********************
 *    Social Media
 **********************/
.ds-social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ds-social__icon {
  height: 20px;
  width: 20px;
}

/**********************
 *      Branding
 **********************/
.ds-logo {
  width: 225px;
  height: 334px;
  color: #000;
}

/**********************
 *       Tags
 **********************/
.ds-tag {
  display: inline-block;
  background-color: var(--secondary);
  text-decoration: none;
  font-style: italic;
  color: var(--white);
  padding: 0.5em;
  border-radius: var(--border-radius);
}

/**********************
 *       Layout
 **********************/
.ds-spacer--sm {
  margin-bottom: 0.5rem;
}

.ds-spacer--md {
  margin-bottom: 1rem;
}

.ds-spacer--lg {
  margin-bottom: 2rem;
}

/**********************
 *      Markdown
 **********************/
.ds-markdown blockquote {
  margin: 0;
  border-left: 4px solid var(--tertiary);
  font-style: italic;
  padding: 1.33em;
  text-align: left;
}

.ds-markdown pre {
  background-color: #fafafa;
  padding: 1rem;
  text-align: left;
}

.ds-markdown code {
  font-weight: bold;
  margin: 2em 0;
}

.ds-markdown p {
  margin-bottom: 2rem;
}

.ds-markdown a {
  text-decoration: none;
  color: var(--primary);
  border-bottom: 2px dotted var(--primary);
  transition: border-bottom 0.2s ease-in-out;
}

.ds-markdown a:hover {
  border-bottom: 2px solid var(--primary);
}

.ds-markdown ul,
.ds-markdown ol {
  margin: 1.6rem;
  padding-left: 2rem;
}

.ds-markdown em {
  font-style: italic;
}

.ds-markdown img {
  width: 100%;
}
