.ds-nav {
  grid-area: nav;
  display: flex;
  align-items: center;

  &__links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    & *:not(:last-child) {
      margin-right: 3.2rem;
    }
  }

  &__link {
    text-decoration: none;
    color: currentColor;
    display: block;

    &:hover,
    &:focus {
      color: var(--secondary);
    }

    &--active {
      color: var(--secondary);
    }
  }
}

.ds-mobile-nav {
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  color: #000;
  display: none;

  span:first-child {
    width: 20px;
  }

  span:nth-child(2) {
    float: right;
    margin-top: 2px;
    width: 16px;
  }

  span:nth-child(3) {
    margin-top: 6px;
    width: 20px;
  }

  span:last-child {
    margin-top: 2px;
    width: 12px;
    float: right;
  }
}
