<h1>Tags > Detail</h1>

<strong>Title:</strong>
<%= @tag.title %>

<strong>Slug:</strong>
<%= @tag.slug %>

<span><%= link "Edit", to: Routes.admin_tag_path(@conn, :edit, @tag) %></span>
<span><%= link "Back", to: Routes.admin_tag_path(@conn, :index) %></span>
