body {
  font-family: "PT Sans", sans-seriff;
  line-height: 1.65;
  color: var(--text-color);

  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
}

h1,
.ds-heading-1 {
  font-family: "Poppins";
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.05em;
}

h2,
.ds-heading-2 {
  font-family: "Poppins";
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.25em;
}

h3,
.ds-heading-3 {
  font-family: "Poppins";
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.25em;
}

h4,
.ds-heading-4 {
  font-family: "Poppins";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.222222em;
}

h5,
.ds-heading-5 {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.222222em;
}

p,
.ds-body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375em;
}

.ds-caption {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.375em;
  color: #808080;
}
